<div class="content">
  <header>
    <div class="bg-dark" id="navbarHeader" [ngClass]="{collapse: showHeader}">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Test task for <a href="https://gora.studio/ru">GORA studio</a>. Main task: </p>
            <ul class="text-muted">
              <li>create image gallery in 4 hours</li>
              <li>gallery has to load images and preview</li>
              <li>images can be deleted</li>
              <li>database for gallery is SQLite</li>
            </ul>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/Tiunchik/Gora" class="text-white">Link To GIT</a></li>
              <li><a href="mailto:senebh@gmail.com" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/edit/new" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"
               focusable="false" aria-hidden="true">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
            <circle cx="12" cy="13" r="4"></circle>
          </svg>
          <strong>Add image</strong>
        </a>
        <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation"
                (click)="showHeader = !showHeader">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
